.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-card-bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.quote-card-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #39fd7a71;
  background-color: var(--yellow);
  clip-path: polygon(20% 10%, 0% 100%, 80% 90%, 100% 0%);
}

.quote-card {
  width: 100%;
  height: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  align-items: start;
  clip-path: polygon(100% 100%, 100% 20%, 80% 0%, 0% 0%, 0% 80%, 20% 100%);
}

.quote-img {
  height: 9rem;
  width: 12rem;
  margin: 2rem 0 0 2rem;
}

.quote-text {
  width: 100%;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  text-align: center;
  padding: 6rem 9rem 8rem 9rem;
}

/* MEDIA QUERIES */
/* 1400 */
@media (max-width: 87.5em) {
  .quote-text {
    font-size: 1.8rem;
    text-align: center;
    padding: 6rem 6rem 8rem 6rem;
  }
}
/* 1100 */
@media (max-width: 68.75em) {
  .quote-card-bg {
    width: 95%;
  }
  .quote-text {
    padding: 4rem 6rem 10rem 6rem;
  }
}
/* 1000 */
@media (max-width: 62.5em) {
  .quote-card {
    clip-path: polygon(100% 100%, 100% 0%, 100% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  .quote-card-bg {
    width: 55%;
  }
}
/* 900 */
@media (max-width: 56.25em) {
  .quote-card-bg {
    width: 65%;
  }
  .quote-text {
    padding: 6rem 6rem 8rem 6rem;
  }
}
/* 800 */
@media (max-width: 50em) {
  .quote-card-bg {
    width: 75%;
  }
}
/* 700 */
@media (max-width: 43.75em) {
  .quote-card-bg {
    width: 85%;
  }
  .quote-text {
    padding: 2rem 6rem 8rem 6rem;
  }
}
/* 600 */
@media (max-width: 37.5em) {
  .quote-card-bg {
    width: 90%;
  }
}
/* 500 */
@media (max-width: 31.25em) {
  .quote-card-bg {
    width: 95%;
  }
  .quote-text {
    padding: 2rem 3rem 8rem 3rem;
  }
}
/* 400 */
@media (max-width: 25em) {
  .quote-text {
    padding: 2rem 2rem 6rem 2rem;
  }
}
/* 300 */
@media (max-width: 18.75em) {
  .quote-text {
    padding: 2rem 1rem 6rem 1rem;
    font-size: 1.6rem;
  }
}
