.container {
  width: 100%;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 14rem 0 4rem 0;
}

.right-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}

/* IMAGE */

.image-box {
  width: 30rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: auto;
  width: 100%;
}

/* QUOTE */

.bio-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}

.bio-title {
  font-family: "Caveat", cursive;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.bio-quote {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.3rem;
  text-align: center;
}

.image-quote {
  height: 1.4rem;
  width: auto;
  margin-bottom: 1rem;
}

.hobbies {
  display: flex;
  width: 100%;
  height: 30rem;
}

.hobbies-btns {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.hobbies-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  background: none;
  border: none;
  transition: all 1s;
  border-radius: 0.2rem;
  color: #555;
  cursor: pointer;
}

.hobbies-btn:hover {
  background-color: var(--yellow);
  color: #555;
}

.hobbies-icon {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES */
/* 1400 */
@media (max-width: 87.5em) {
  .bio-quote {
    font-size: 1.8rem;
  }
}
/* 1300 */
@media (max-width: 81.25em) {
  .container {
    margin: 10rem 0 4rem 0;
  }
}
/* 1200 */
@media (max-width: 75em) {
  .container {
    gap: 4rem;
  }
}
/* 1100 */
@media (max-width: 68.75em) {
  .container {
    gap: 4rem;
  }
}
/* 1000 */
@media (max-width: 62.5em) {
  .container {
    grid-template-columns: 1fr;
    gap: 6rem;
    margin-bottom: 0rem;
  }
  .bio-title {
    margin-top: 2rem;
  }
  .bio-quote {
    width: 70%;
  }
  .hobbies {
    height: 30rem;
  }
  .bio-title {
    margin-top: 0rem;
  }
  .hobbies-btn:hover {
    background-color: var(--grey-lighter);
    color: var(--yellow);
  }
}
/* 900 */
@media (max-width: 56.25em) {
  .bio-text {
    width: 100%;
  }
}
/* 700 */
@media (max-width: 43.75em) {
  .bio-quote {
    width: 80%;
  }
  .hobbies {
    height: 55rem;
  }
}
/* 450 */
@media (max-width: 28.15em) {
  .container {
    margin: 6rem 0 2rem 0;
    gap: 2rem;
  }
}
/* 360 */
@media (max-width: 22.5em) {
  .bio-quote {
    font-size: 1.6rem;
  }
  .hobbies {
    height: 50rem;
  }
}
