.container {
  width: 75%;
  /* height: 100%; */
  position: relative;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
  opacity: 0;
  background-color: #fff;
  transition: all 0.3s ease-in;
  z-index: 5;
}

.image-lazy {
  position: absolute;
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
  filter: blur(6px);
}

/* MEDIA QUERIES */
/* 1700 */
@media (max-width: 112.5em) {
  .container {
    width: 90%;
  }
}
/* 1700 */
@media (max-width: 106.35em) {
  .container {
    width: 100%;
  }
  .image {
    width: 90%;
  }
  .image-lazy {
    width: 90%;
  }
}
/* 1500 */
@media (max-width: 93.75em) {
  .image {
    width: 100%;
  }
  .image-lazy {
    width: 100%;
  }
}
/* 1200 */
@media (max-width: 75em) {
  .image {
    width: 70%;
  }
  .image-lazy {
    width: 70%;
  }
  .container {
    grid-row: 1 / 2;
  }
}
/* 900 */
@media (max-width: 56.25em) {
  .image {
    width: 90%;
  }
  .image-lazy {
    width: 90%;
  }
}
/* 600 */
@media (max-width: 37.5em) {
  .image {
    width: 100%;
  }
  .image-lazy {
    width: 100%;
  }
}
