.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-header {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem 2rem 4rem 2rem;
  transition: all 0.5s;
  color: #fff;
}

.card-header:hover {
  padding-bottom: 10rem;
  color: black;
  color: #333;
  background-color: #fff;
}

.card-title {
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 4rem;
  align-self: start;
}

.phone {
  background: linear-gradient(
    90deg,
    rgba(153, 200, 180, 0.5) 0%,
    /* rgba(229, 240, 226, 0.5) 35%, */ rgba(219, 223, 136, 0.5) 100%
  );
}

.e-mail {
  background: linear-gradient(
    90deg,
    rgba(219, 223, 136, 0.5) 0%,
    rgba(211, 190, 75, 0.5) 35%,
    rgba(210, 121, 61, 0.5) 100%
  );
}

.address {
  background: linear-gradient(
    90deg,
    rgba(210, 121, 61, 0.5) 0%,
    rgba(212, 61, 52, 0.5) 35%,
    rgba(167, 0, 58, 0.5) 100%
  );
}

.card-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 4rem;
  width: 4rem;
  border: 0.4rem solid #fff;
  border-radius: 10rem;
  padding: 0.4rem;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.1rem;
  height: 8rem;
  color: #333;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
}

.card-text:hover {
  color: #111;
}

.underline {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 5rem;
}

/* MEDIA QUERIES */
/* 1400 */
@media (max-width: 87.5em) {
  .card-text {
    font-size: 1.8rem;
  }
}
/* 1100 */
@media (max-width: 68.75em) {
  .phone {
    background: linear-gradient(
      180deg,
      rgba(153, 200, 180, 0.5) 0%,
      /* rgba(229, 240, 226, 0.5) 35%, */ rgba(219, 223, 136, 0.5) 100%
    );
  }

  .e-mail {
    background: linear-gradient(
      180deg,
      rgba(219, 223, 136, 0.5) 0%,
      rgba(211, 190, 75, 0.5) 35%,
      rgba(210, 121, 61, 0.5) 100%
    );
  }
  .address {
    background: linear-gradient(
      180deg,
      rgba(210, 121, 61, 0.5) 0%,
      rgba(212, 61, 52, 0.5) 35%,
      rgba(167, 0, 58, 0.5) 100%
    );
  }
}
/* 900 */
@media (max-width: 56.25em) {
  .card-icon {
    border-width: 0.2rem;
  }
}
